pulse/
archive-name.tar.gz
Dharkael/
discord/
discordcanary/
evolution/
gnome-initial-setup-done
gnome-session/
zoomus.conf
user-dirs.locale
user-dirs.dirs
ibus/
pulse/
Code/
configstore/
polybar.tar
PostmanAgent/
procps/
htop/
nautilus/
update-notifier/
goa-1.0/
coc/
